.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }

@font-face {
    font-family: myFont;
    src: url(https://fonts.google.com/specimen/Inter);
}

@media screen and (max-width: 375) {
    .read-more {
        margin-bottom: 30px;
    }
}

body {
    background-color: hsl(36, 100%, 99%);
    font-family: myFont, sans-serif;
}

#myNav {
    word-spacing: 30px;
    display: block;
    margin: 40px 0 20px 0;
}

#main-img {
    size: 4rem;
    overflow: hidden;
}

.read-more {
    border: none;
    letter-spacing: 2px;
    background-color: hsl(5, 85%, 63%);
    color: white;
}

a, button {
    transition: 0.4s;
}

p {
    font-size: 15px;
}

#myNav .link:hover, .item2-a:hover, .item2-h2 {
    color: hsl(35, 77%, 62%);
}

.item3-a:hover {
    color: hsl(5, 85%, 63%);
}

.open-btn:hover, .close-btn:hover {
    background-color: hsl(233, 8%, 79%);
}

.read-more:hover  {
    background-color: hsl(236, 13%, 42%);
}

#myNav a {
    color: hsl(236, 13%, 42%);
    text-decoration: none;
}

.item1-h1 {
    font-size: 3rem;
    font-weight: 800;
}

.item1-p {
    color: hsl(236, 13%, 42%);
}

.item2 {
    background-color: hsl(240, 100%, 5%);
    height: 95%;
    border-radius: 7%;
}

.item2-a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 1.5rem;
}

.item2-p {
    color: hsl(233, 8%, 79%);
    padding-top: 1rem;
}

.item3-h3 {
    font-size: 1.75rem;
    color: hsl(233, 8%, 79%);
}

.item3-a {
    text-decoration: none;
    font-size: 1.25rem;
    color: black;
    font-weight: 450;
}

.item3-p {
    color: hsl(236, 13%, 42%);
}

.item3-img {
    height: 150px;
    float: left;
}

hr.new {
    border: 1px solid white;
}

.sideBar {
    width: 0;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: hsl(233, 8%, 79%);
    overflow-x: hidden;
    transition: 0.4s cubic-bezier(0.18, 0.89, 0.32, 1.28);
}

.sideBar a.link {
    padding: 1rem 1rem;
    text-decoration: none;
    color: hsl(236, 13%, 42%);
    display: block;
    transition: 0.4s;
    white-space: nowrap;
    font-size: 2rem;
}

.sideBar a.link:hover {
    color: hsl(36, 100%, 99%);
}

a.close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
}

a.close-btn:hover {
    background: initial;
    transform: scale(1.2);
}
 